@model MorningJoeReadsWebUI.ViewModel.LoginViewModel
@{
    ViewBag.Title = "SignUp";
}
@Styles.Render("~/Content/LandingPage.css")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <style>
        tbody{
            background-color:black;
        }
    </style>
</head>
<body>
    <h2>Login</h2>
    <div id="login_div">
        @using (Html.BeginForm("Authorize","Login", FormMethod.Post))
        {
            <table id="login_table "cellpadding="10" cellspacing="10" align="center">
                <tr>
                    <td style="color:antiquewhite">
                        @Html.LabelFor(m => m.EmailAddress)
                    </td>
                    <td>
                        @Html.EditorFor(m => m.EmailAddress)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="color:red">@Html.ValidationMessageFor(m => m.EmailAddress)</td>
                </tr>
                <tr>
                    <td style="color:antiquewhite">
                        @Html.LabelFor(m => m.PassWord)
                    </td>
                    <td>
                        @Html.EditorFor(m => m.PassWord)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="color:red">@Html.ValidationMessageFor(m => m.PassWord)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error" style="color:red">
                        @Html.DisplayFor(m => m.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
         }
    </div>
</body>
</html>
