@model MorningJoeReadsWebUI.ViewModel.LoginViewModel
@{
    ViewBag.Title = "SignUp";
}
@Styles.Render("~/Content/LandingPage.css")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
</head>
<body>
    <h2>Login</h2>
    <div style="background-color:black; width:300px; height:150px; 
        align-items:center; justify-content:center;"  >
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <table cellpadding="10" cellspacing="10" align="center">
                <tr>
                    <td style="color:antiquewhite">
                        @Html.LabelFor(m => m.EmailAddress)
                    </td>
                    <td>
                        @Html.EditorFor(m => m.EmailAddress)
                    </td>
                </tr>
                <tr>
                    <td style="color:antiquewhite">
                        @Html.LabelFor(m => m.PassWord)
                    </td>
                    <td>
                        @Html.EditorFor(m => m.PassWord)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
         }
    </div>
</body>
</html>
